.Recordings {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  user-select: none;
}

.Recordings_controls {
  flex: 0 0 auto;
}

.Recordings_controls select {
  margin: 5px 10px;
  padding: 2px 10px;
  font-size: 2em;
  background-color: #282c34;
  color: white;
}

.Recordings_container {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  margin: 0 0 40px 0;
  min-height: 100px;
}

.Recordings_list {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.Recordings_item {
  height: 100%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.Recordings_item img {
  height: 100%;
}

.Recordings_label {
  pointer-events: none;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 50px);
  color: white;
  font-weight: bold;
  padding: 5px 10px;
  background-color: rgba(0, 140, 255, 0.5);
}

.Recordings_overlay {
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: rgba(0, 140, 255, 0.2);
}
.Recordings_position {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 1px;
  height: 30px;
  background-color: rgba(0, 140, 255, 0.5);
}

.Recordings_time {
  position: absolute;
  display: inline-block;
  top: 0;
  margin-left: -0.5em;
  color: rgba(255, 255, 255, 0.5);
}

.Recordings_player {
  z-index: 20;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #282c34;
}

.Recordings_close {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  padding: 5px 20px;
  background-color: rgba(100, 40, 60, 0.5);
  color: white;
  font-weight: bold;
  font-size: 2em;
}
.Recordings_close:hover {
  background-color: rgba(200, 40, 60, 0.75);
}