html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.App-content {
  position: relative;
  background-color: #282c34;
  color: white;
  height: 100%;
  max-height: 100%;
}

.App-row {
  display: flex;
  flex-direction: row;
}

.App-row .selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.App-recordings {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.App-recordings a {
  color: #80a0ff;
  text-decoration: none;
  font-weight: bold;
}
